<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="FreeJava Tools Category"
            id="org.freejava.tools.commands.category">
      </category>
      <command
            categoryId="org.freejava.tools.commands.category"
            id="org.freejava.tools.commands.codeSearchCommand"
            name="Java Examples Seach">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.freejava.tools.handlers.SampleCodeSearchHandler"
            commandId="org.freejava.tools.commands.codeSearchCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="FreeJava Tools"
               mnemonic="M"
               id="org.freejava.tools.menus.freeJavaToolsMenu">
            <command
                  commandId="org.freejava.tools.commands.codeSearchCommand"
                  id="org.freejava.tools.commands.codeSearchCommand">
            </command>
         </menu>
      </menuContribution>
   </extension>
</plugin>
